<header class="header-v4">
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                </div>

                <% if (isAuthenticated) { %>
                    <div class="right-top-bar flex-w h-full">

                        <!-- <a href="/index" class="flex-c-m trans-04 p-lr-25">
                         gggh
                        </a> -->

                        <a href="profile" class="flex-c-m trans-04 p-lr-25">
                            <%= userName ? userName : "" %>
                        </a>
    
                        <!-- <a href="/#" class="flex-c-m trans-04 p-lr-25">
                            USD
                        </a> -->
    
                        <a href="logout" class="flex-c-m trans-04 p-lr-25">
                            Logout
                        </a>

                    </div>
                <% } else { %>    
                    <div class="right-top-bar flex-w h-full">
                        <a href="/login" class="flex-c-m trans-04 p-lr-25">
                            Login
                        </a>
                    </div>
                <% } %>    
            </div>
        </div>

        <div class="wrap-menu-desktop how-shadow1">
            <nav class="limiter-menu-desktop container">
                
                <!-- Logo desktop -->		
                <a href="/index" class="logo">
                    <img src="/public/images/icons/logo-01.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li>
                            <a href="/index">Home</a>
                        </li>

                        <li class="active-menu">
                            <a href="/shop">Shop</a>
                        </li>
                    </ul>
                </div>	

                <!-- Icon header -->
                <% if (isAuthenticated) { %>
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <a href="/cart">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="<%=count%>">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </a>
                    </div>
                <% } else { %>
                    
                <% } %>    
   
            </nav>
        </div>	
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo mobile -->		
        <div class="logo-mobile">
            <a href="/index"><img src="/public/images/icons/logo-01.png" alt="IMG-LOGO"></a>
        </div>

        <!-- Icon header -->
        <% if (isAuthenticated) { %>
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <a href="/cart">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="<%=count%>">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </a>
            </div>
        <% } else { %>
        
        <% } %>    

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="topbar-mobile">
            
            <% if (isAuthenticated) { %>
                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="" class="flex-c-m p-lr-10 trans-04">
                            <%= userName ? userName : "" %>
                        </a>
                        <a href="logout" class="flex-c-m p-lr-10 trans-04">
                            Logout
                        </a>
                    </div>
                </li>         
            <% } else { %>  
                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="/public/#" class="flex-c-m p-lr-10 trans-04">
                            Login
                        </a>
                    </div>
                </li>  
            <% } %>    
        </ul>

        <ul class="main-menu-m">
            <li>
                <a href="/index">Home</a>
            </li>

            <li>
                <a href="/product">Shop</a>
            </li>
        </ul>
    </div>
</header>