<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="/admin/dashboard" class="text-nowrap logo-img">
          <img src="/public/images/icons/favicon.png" width="130" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
                <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Dashboard</span>
             </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/index" aria-expanded="false">
                <span class="hide-menu">User Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/productManagement" aria-expanded="false">
                <span class="hide-menu">Product Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/categoryManagement" aria-expanded="false">
                <span class="hide-menu">Category Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orderList" aria-expanded="false">
                <span class="hide-menu">Order Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/couponList" aria-expanded="false">
                <span class="hide-menu">Coupon Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/bannerList" aria-expanded="false">
                <span class="hide-menu">Banner Management</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/salesReport" aria-expanded="false">
                <span class="hide-menu">Sales Report</span>
              </a>
            </li>
          </ul>
        </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>