<h1>New Category</h1>
<form action="/admin/addCategory" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>
  <button type="submit">Create Category</button>
</form>
